<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of Places</title>

    {% load static %}

    <link rel="stylesheet" href=" {% static 'css/details.css' %} ">

    <script src="https://kit.fontawesome.com/3698113056.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <script src="https://kit.fontawesome.com/3698113056.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/script.js" defer></script>

</head>


<body> 

    <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"> <i class="fas fa-paper-plane"></i>Travel
        </a>

        <div class="navbar">
            <ul class="links">
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="300" href="{% url 'index' %}">home</a>
                </li>

                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="450" href="{% url 'about' %}">about</a>
                </li>
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="600" href="#blogs">blogs</a>
                </li>
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="750" href="#chatbox">Chatbox</a>
                </li>
                <li>
                    <a data-aos="zoom-in-left" data-aos-delay="900" href="#">Login <i
                            class="fa-solid fa-caret-down"></i></a>
                    <div class="dropdown_menu">
                        <ul>
                            <li><a href="{% url 'login' %}">Login as User</a></li>
                            <li><a href="{% url 'guideLogin' %}">Login as Guide</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </header>



    <!-- details section -->

    <section class="details" id="details">
        <div class="swiper " data-aos="fade-up" data-aos-delay="150">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="{% static 'images/slide2.jpeg' %}" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{% static 'images/slide1.jpeg' %}" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{% static 'images/slide3.jpeg' %}" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{% static 'images/slide4.jpeg' %}" alt="">
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
        <div class="info" data-aos="fade-up" data-aos-delay="300">
            <span>Title Name</span>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolores quo nihil quasi nulla
                optio iure doloribus numquam? Ex a quis veniam eaque?</p>
            <div class="ratings">
                <h2>Rate this place :</h2>
                <div class="post">
                    <div class="review">

                        <h2 class="text">Thanks for rating!
                        </h2>
                        <h2 class="edit">EDIT</h2>
                    </div>
                </div>
                <div class="star-widget">
                    <input type="radio" name="rate" id="rate-5">
                    <label for="rate-5"><i class="fa-solid fa-star"></i></label>
                    <input type="radio" name="rate" id="rate-4">
                    <label for="rate-4"><i class="fa-solid fa-star"></i></label>
                    <input type="radio" name="rate" id="rate-3">
                    <label for="rate-3"><i class="fa-solid fa-star"></i></label>
                    <input type="radio" name="rate" id="rate-2">
                    <label for="rate-2"><i class="fa-solid fa-star"></i></label>
                    <input type="radio" name="rate" id="rate-1">
                    <label for="rate-1"><i class="fa-solid fa-star"></i></label>
                </div>
                <form action="#">
                    <button class="btn rating-btn" type="submit">Post</button>
                </form>
            </div>
            <a href="{% url 'guideLIst' %}" class="btn">Need a Guide?</a>

        </div>
    </section>
    <div class="description">
        <h2>Description:</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus at ut nesciunt repellat nobis, labore
            porro nemo molestias blanditiis rerum architecto nostrum corporis, saepe reprehenderit, maiores dolores quam
            deleniti? Quasi harum, maxime itaque temporibus dolore autem id vel debitis cumque doloremque exercitationem
            ducimus quae consequatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum iste vitae minima? Accusamus tempora
            consequatur necessitatibus maxime quos, alias doloremque qui aliquid corrupti commodi, beatae ab sint quam.
            Doloremque perspiciatis quisquam nam minima modi expedita aliquam harum ipsam eveniet perferendis. Vel
            accusantium nesciunt ullam eaque, sunt soluta quod recusandae magnam. Porro neque voluptate mollitia
            dignissimos quis veritatis, nobis blanditiis deserunt maxime assumenda consequatur quos veniam.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae facilis corrupti obcaecati molestiae
            quidem fuga! Eos officiis eligendi natus ipsam incidunt, molestiae sapiente, ab maiores, tempore omnis
            deleniti cumque obcaecati sunt repellat inventore rerum eveniet consequuntur doloribus minus. Fugit illum ut
            temporibus deleniti nesciunt expedita laborum dicta dignissimos distinctio, cumque maiores unde deserunt
            iure ea eius explicabo animi officiis nisi voluptatem quaerat? Asperiores voluptates soluta enim saepe
            explicabo sequi veniam cumque, error quos voluptatibus. Omnis natus, sunt nisi aspernatur laudantium, error
            doloremque nobis fugiat quis quas esse ratione commodi libero cupiditate magnam inventore. Vitae, ratione,
            mollitia eveniet officiis doloremque odit laboriosam natus minus, sunt dolore non sint dolores hic magnam.
            Eaque officia laboriosam beatae maxime nemo incidunt reiciendis? Doloremque numquam blanditiis quis hic sunt
            sint ullam vel velit dignissimos veritatis excepturi, tempora commodi laudantium neque. Ducimus distinctio
            repellendus recusandae debitis sunt! Accusamus, optio?</p>
    </div>
    <div class="comment">
        <h2>Comments:</h2>
        <textarea id="textarea" name="w3review" rows="10" placeholder="Enter a comment" data-aos="fade-up"
            data-aos-delay="100"></textarea>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script>

        AOS.init({
            duration: 800,
            offset: 150,
        });

    </script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            autoplay: {
                delay: 2000,
                disableOnInteration: false,
            },
            loop: true,

            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

        });
    </script>
    <script>
        const btn = document.querySelector('button');
        const post = document.querySelector('.post');
        const widget = document.querySelector('.star-widget');
        const edit = document.querySelector('.edit');
        btn.onclick = () => {
            widget.style.display = "none";
            btn.style.display = "none";
            post.style.display = "block";
            edit.onclick = () => {
                widget.style.display = "block";
                btn.style.display = "block";
                post.style.display = "none";
            }
            return false
        }
    </script>

</body>

</html>