<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of Places</title>

    {% load static %}

    <link rel="stylesheet" href=" {% static 'css/guideList.css' %} ">

    <script src="https://kit.fontawesome.com/3698113056.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <script src="https://kit.fontawesome.com/3698113056.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="js/script.js" defer></script>

</head>

<body>
    <header class="header">

        <div id="menu-btn" class="fas fa-bars"></div>

        <a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"> <i class="fas fa-paper-plane"></i>Travel
        </a>

        <div class="navbar">
            <ul class="links">
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="300" href="{% url 'index' %}">home</a>
                </li>

                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="450" href="{% url 'about' %}">about</a>
                </li>
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="600" href="#blogs">blogs</a>
                </li>
                <li>

                    <a data-aos="zoom-in-left" data-aos-delay="750" href="#chatbox">Chatbox</a>
                </li>
                <li>
                    <a data-aos="zoom-in-left" data-aos-delay="900" href="#">Login <i
                            class="fa-solid fa-caret-down"></i></a>
                    <div class="dropdown_menu">
                        <ul>
                            <li><a href="{% url 'login' %}">Login as User</a></li>
                            <li><a href="{% url 'guideLogin' %}">Login as Guide</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </header>

    <main>
        <section class="menu">
            <!-- title -->
            <div class="title">
                <h1>Our Guides</h1>
                <span class="line"></span>
            </div>

            <div class="section-center">
                <div class="guide-details">
                    <img src="{% static 'images/jinish.jpg' %}" class="photo" alt="">
                    <div class="guide-info">
                        <div class="name">
                            <h4>Jinish Shrestha</h4>
                            <h4 class="details">
                                <a href="{% url 'guideDetails' %}">Details</a>
                            </h4>
                        </div>
                        <div class="guide-text">
                            <p class="locations">Locations: Dhumbarahi, Chakrapath, Boudha</p>
                            <p class="contact">Contact Number: 9861288980</p>
                        </div>

                    </div>
                </div>
                <div class="guide-details">
                    <img src="{% static 'images/jinish.jpg' %}" class="photo" alt="">
                    <div class="guide-info">
                        <div class="name">
                            <h4>Jinish Shrestha</h4>
                            <h4 class="details">
                                <a href="{% url 'guideDetails' %}">Details</a>
                            </h4>
                        </div>
                        <div class="guide-text">
                            <p class="locations">Locations: Dhumbarahi, Chakrapath, Boudha</p>
                            <p class="contact">Contact Number: 9861288980</p>
                        </div>

                    </div>
                </div>
                <div class="guide-details">
                    <img src="{% static 'images/jinish.jpg' %}" class="photo" alt="">
                    <div class="guide-info">
                        <div class="name">
                            <h4>Jinish Shrestha</h4>
                            <h4 class="details">
                                <a href="{% url 'guideDetails' %}">Details</a>
                            </h4>
                        </div>
                        <div class="guide-text">
                            <p class="locations">Locations: Dhumbarahi, Chakrapath, Boudha</p>
                            <p class="contact">Contact Number: 9861288980</p>
                        </div>

                    </div>
                </div>
                <div class="guide-details">
                    <img src="{% static 'images/jinish.jpg' %}" class="photo" alt="">
                    <div class="guide-info">
                        <div class="name">
                            <h4>Jinish Shrestha</h4>
                            <h4 class="details">
                                <a href="{% url 'guideDetails' %}">Details</a>
                            </h4>
                        </div>
                        <div class="guide-text">
                            <p class="locations">Locations: Dhumbarahi, Chakrapath, Boudha</p>
                            <p class="contact">Contact Number: 9861288980</p>
                        </div>

                    </div>
                </div>
                <div class="guide-details">
                    <img src="{% static 'images/jinish.jpg' %}" class="photo" alt="">
                    <div class="guide-info">
                        <div class="name">
                            <h4>Jinish Shrestha</h4>
                            <h4 class="details">
                                <a href="{% url 'guideDetails' %}">Details</a>
                            </h4>
                        </div>
                        <div class="guide-text">
                            <p class="locations">Locations: Dhumbarahi, Chakrapath, Boudha</p>
                            <p class="contact">Contact Number: 9861288980</p>
                        </div>

                    </div>
                </div>
                <div class="guide-details">
                    <img src="{% static 'images/jinish.jpg' %}" class="photo" alt="">
                    <div class="guide-info">
                        <div class="name">
                            <h4>Jinish Shrestha</h4>
                            <h4 class="details">
                                <a href="{% url 'guideDetails' %}">Details</a>
                            </h4>
                        </div>
                        <div class="guide-text">
                            <p class="locations">Locations: Dhumbarahi, Chakrapath</p>
                            <p class="contact">Contact Number: 9861288980</p>
                        </div>

                    </div>
                </div>
                <div class="guide-details">
                    <img src="{% static 'images/jinish.jpg' %}" class="photo" alt="">
                    <div class="guide-info">
                        <div class="name">
                            <h4>Jinish Shrestha</h4>
                            <h4 class="details">
                                <a href="{% url 'guideDetails' %}">Details</a>
                            </h4>
                        </div>
                        <div class="guide-text">
                            <p class="locations">Locations: Dhumbarahi, Chakrapath, Boudha</p>
                            <p class="contact">Contact Number: 9861288980</p>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>

        AOS.init({
            duration: 800,
            offset: 150,
        });

    </script>
</body>

</html>